asgiref 
certifi==2020.12.5
cffi 
chardet 
cryptography 
Django 
django-crispy-forms==1.10.0
idna 
olefile==0.46
Pillow 
psycopg2 
pycparser 
pyOpenSSL 
PySocks 
pytz 
requests 
six 
sqlparse 
urllib3 
win-inet-pton 
wincertstore==0.2